:root {
	--violet: #100D22;
	--cornBlue: #17346F;
	--demin: #0C5AC0;
	--cerulean: #2AA5D8;
	--amaranth: #A7304E;
}

* {
	box-sizing: border-box;
}

body {

	padding: 0;
	margin: 0 auto;
	overflow: hidden;
    font-family: 'Press Start 2P',cursive;
    background: url(https://images.unsplash.com/photo-1498736297812-3a08021f206f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1479&q=80);
    background-size: cover;
}
.game-container{
	height: 100vh;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}


h1,h2{
    color: white;
    text-shadow: 0px 4px 2px rgba(255, 0, 0, 0.521);
	text-transform: uppercase;
}

canvas {
	outline: 1px solid var(--amaranth);
    background-color: #fff;
    border-radius: 2px;
	box-shadow: 0px 10px 40px 20px rgba(255, 0, 0, 0.521);
}

.bg-white{
	background-color: #fff;
	border: 1px solid var(--amaranth);
	width: 300px;
	height: 30%;
	/* padding: 0.5em 0; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	color: var(--amaranth);
}
.bg-white h3 {
	font-size: 2.5em;
}
.modal-btns{
	display: flex;
	flex-direction: column;

}
.bg-white button{
	cursor: pointer;
	background-color: var(--amaranth);
	color: #fff;
	padding: 0.5em 1em;
	margin: 0.5em 0;
	border: none;
	border-radius: 5px;
	font-weight: bolder;
    font-family: 'Press Start 2P',cursive;
}

.fixed{
	position: fixed;
	top: 10%;
	right: 0;
	bottom: 0;
	left: 0;
}

.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide {
	display: none;
}



@media (min-width: 60em) {
	.game-container{
		transform: scale(1.5);
		image-rendering: pixelated;
	}
}